<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Dosen</th>
            <th>Data</th>
            <th>Gap kriteria dosen</th>
            <th>Gap kriteria mahasiswa</th>
            <th>Nilai Core Factor</th>
            <th>Nilai Secondary Factor</th>
            <th>Total Nilai</th>
            <th>Total Nilai Bulat</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.dosen }}</td>
            <td>{{ cek2[loop.index0] }}</td>
            <td>{{ result.core_factor }}</td>
            <td>{{ result.secondary_factor }}</td>
            <td>{{ result.nilai_corefactor }}</td>
            <td>{{ result.nilai_secondaryfactor }}</td>
            <td>{{ result.total_nilai }}</td>
            <td>{{ result.total_nilai_bulat }}</td>

        </tr>
        {% endfor %}
        {{cek2}}
    </table>
</body>

</html>