<!-- error.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
</head>

<body>
  <form action="{{ url_for('insertmasterspk')}}" method="POST">
    <div class="form-group" id="yourFormName">
      <label>Judul Skripsi</label>
      <input value="" type="text" name="judul_skripsi" class="form-control" id="exampleFormControlInput1"
        placeholder="Judul Skripsi Anda..." />
    </div>
    {% for i in range(len1) %}
    <div class="form-group" id="yourFormName">
      <label>nama dosen</label>
      <input value="{{data[i][1]}}" type="text" name="nama_dosen[]" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter Full Name" />
    </div>
    {%for i in range(0, len2)%}

    <div class="form-group">
      <label>kriteria</label>
      <input value="{{data2[i][1]}}" type="text" name="nama_kriteria[]" class="form-control"
        id="exampleFormControlInput1" placeholder="Enter Email" />
    </div>
    <div class="form-group">
      <label>nilai</label>
      <input type="number" name="nilai_bobot[]" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter Email" />
    </div>
    {%endfor%}

    <div style="margin-bottom: 10px">
      <hr style="border: 4px solid green; border-radius: 5px" />
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary mb-2">
      Save
    </button>
  </form>
</body>

</html>