<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>SPK Profile Matching</title>

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static',
    filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',
    filename='css/sb-admin-2.min.css') }}" rel="stylesheet" />

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static',
    filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('dashboard') }}">

        <div class="sidebar-brand-text mx-3">SPK Profile Matching</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->
      <div class="sidebar-heading">Interface</div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Master data</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Master Component:</h6>
            <a class="collapse-item" href="{{ url_for('mahasiswa') }}">Mahasiswa</a>
            <a class="collapse-item" href="{{ url_for('dosen') }}">Dosen</a>
            <a class="collapse-item" href="{{ url_for('kriteria') }}">Kriteria</a>

          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->


      <!-- Divider -->
      <hr class="sidebar-divider" />

      <!-- Heading -->


      <!-- Nav Item - Pages Collapse Menu -->


      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('spk') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>SPK</span></a>
      </li>

      <!-- Nav Item - Tables -->


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rekap_hasil_spk') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Rekap Hasil SPK</span></a>
      </li>

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </form>

          <!-- Topbar Search -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->

            <!-- Nav Item - Messages -->


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle" src="{{ url_for('static',
                    filename='img/undraw_profile.svg') }}" />
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->


          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                Data Mahasiswa
              </h6>
            </div>
            <div class="card-body">
              <div class="container-fluid">

                <div class="row">
                  <div class="col-sm-2"></div>

                  <!-- content goes here -->
                  <div class="col-sm-8">
                    <h2>Data List <button class="btn btn-primary float-right" data-toggle="modal"
                        data-target="#myModal">Add Mahasiswa</button></h2>

                    {%with messages = get_flashed_messages()%}
                    {%if messages%}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{message}}
                    </div>
                    {%endfor%}
                    {%endif%}
                    {%endwith%}



                    <!-- Enter New Student Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title text-primary" style="align-content: center;">Add New Mahasiswa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>


                          <div class="modal-body">

                            <form action="{{ url_for('insert')}}" method="POST">
                              <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" name="name" class="form-control" id="exampleFormControlInput1"
                                  placeholder="Enter Full Name">
                              </div>

                              <div class="form-group">
                                <label>Email</label>
                                <input type="text" name="email" class="form-control" id="exampleFormControlInput1"
                                  placeholder="Enter Email">
                              </div>

                              <div class="form-group">
                                <label>Phone Number</label>
                                <input name="phone" type="text" class="form-control" id="exampleFormControlInput1"
                                  placeholder="Enter Phone Number">
                              </div>

                              <button type="submit" class="btn btn-primary mb-2">Save</button>

                            </form>


                          </div>
                        </div>
                      </div>

                    </div>


                    <!-- End of Enter New Student Modal -->




                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">S/N</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for row in mahasiswa %}
                        <tr>
                          <td>{{row.0}}</td>
                          <td>{{row.1}}</td>
                          <td>{{row.2}}</td>
                          <td>{{row.3}}</td>
                          <td>
                            <a href="/update/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal"
                              data-target="#modaledit{{row.0}}">Edit</a>
                            <a href="/delete/{{ row.0 }}" onclick="return confirm('Are Sure Want To Deleted ?')"
                              class="btn btn-danger btn-sm">Delete</a>

                          </td>
                        </tr>


                        <!-- Enter New Student Modal -->
                        <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <div class="modal-header">
                                <h5 class="modal-title text-primary" style="align-content: center;">Update Student
                                  Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>


                              <div class="modal-body">

                                <form action="{{ url_for('update')}}" method="POST">
                                  <input type="hidden" name="id" value="{{row.0}}">
                                  <div class="form-group">
                                    <label>Full Name</label>
                                    <input value="{{row.1}}" type="text" name="name" class="form-control"
                                      id="exampleFormControlInput1" placeholder="Enter Full Name">
                                  </div>

                                  <div class="form-group">
                                    <label>Email</label>
                                    <input value="{{row.2}}" type="text" name="email" class="form-control"
                                      id="exampleFormControlInput1" placeholder="Enter Email">
                                  </div>

                                  <div class="form-group">
                                    <label>Phone Number</label>
                                    <input value="{{row.3}}" name="phone" type="text" class="form-control"
                                      id="exampleFormControlInput1" placeholder="Enter Phone Number">
                                  </div>

                                  <button type="submit" class="btn btn-success mb-2">Update</button>

                                </form>


                              </div>
                            </div>
                          </div>

                        </div>


                        <!-- End of Edit Student Modal -->




                        {% endfor %}
                      </tbody>

                    </table>
                  </div>
                  <!-- Content ends here-->


                  <div class="col-sm-2"></div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',
    filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',
    filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',
    filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',
    filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static',
    filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static',
    filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static',
    filename='js/demo/datatables-demo.js') }}"></script>
</body>

</html>